<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="checklist-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `checklist-element`
     * Elemento de prueba
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ChecklistElement extends Polymer.Element {
      static get is() { return 'checklist-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'checklist-element'
          }
        };
      }
    }

    window.customElements.define(ChecklistElement.is, ChecklistElement);
  </script>
</dom-module>
